In [1]:
%cd e:\kaggle\wsdm
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from multiprocessing import Pool, cpu_count
import gc
import sys

e:\kaggle\wsdm

In [2]:
%cd c:\jupyter-workdir
from mylibs.WSDN_FUNC import *
%cd -

c:\jupyter-workdir
e:\kaggle\wsdm

In [3]:
?user_log_num_count

In [3]:
test_data = pd.DataFrame({"msno":[1,2,3,4,5,1,2,3],"num1":[4,5,6,7,8,1,2,3],"num2":[5,6,6,7,8,1,4,3], "date":["2017-1-1","2017-2-1","2017-3-1","2017-4-1","2017-5-1","2017-6-1","2017-7-1","2017-8-1"]})
test_data["date"] = pd.to_datetime(test_data["date"], format='%Y-%m-%d')
num_cols = [col for col in test_data.columns if col != "msno"]
group_data = test_data.groupby("msno")
sum_data=test_data.groupby("msno")[num_cols].sum().reset_index()
mean_data=test_data.groupby("msno")[num_cols].mean().reset_index(drop=True)
concat_data=pd.concat([sum_data, mean_data], axis=1)
concat_data

   msno  num1  num2  num1  num2
0     1     5     6   2.5   3.0
1     2     7    10   3.5   5.0
2     3     9     9   4.5   4.5
3     4     7     7   7.0   7.0
4     5     8     8   8.0   8.0

In [8]:
test_data.sort_values(by=['msno'], ascending=[True]).reset_index(drop=True).set_index("msno").truncate(before="3")

           date  num1  num2
msno
3    2017-03-01     6     6
3    2017-08-01     3     3
4    2017-04-01     7     7
5    2017-05-01     8     8

In [ ]:
def imin(data):
    cumsum = 0
    for i in range(len(data) - 1):
        x = data.iloc[i]
        y = data.iloc[i+1]
        cumsum += 1 if x <= y else -1
    return cumsum
group_data[["num1", "num2"]].agg(imin).reset_index()

In [ ]:
test_data.set_index("date").truncate(before="2017-03-01").reset_index().groupby("msno")[num_cols].sum().reset_index()

In [22]:
test_data.msno.value_counts().reset_index().rename(columns={"index":"msno", "msno":"log_count"}).groupby("msno")["log_count"].sum().reset_index()

   msno  log_count
0     1          2
1     2          2
2     3          2
3     4          1
4     5          1

In [4]:
# user_log num count in recent 1 month
df_iter = pd.read_csv('user_logs.csv/user_logs.csv', low_memory=False, iterator=True, chunksize=10000000)
last_user_logs_count = []
i = 0 
for df in df_iter:
    if len(df)>0:
        print(df.shape)
        p = Pool(cpu_count())
        df = p.map(user_log_num_count, np.array_split(df, cpu_count()))   
        df = pd.concat(df, axis=0, ignore_index=True).reset_index(drop=True)
        df = user_log_num_count2(df)
        p.close(); p.join()
        last_user_logs_count.append(df)
        print('...', df.shape)
        df = []
        gc.collect()

last_user_logs_count = pd.concat(last_user_logs_count, axis=0, ignore_index=True).reset_index(drop=True)
last_user_logs_count = user_log_num_count2(last_user_logs_count)

(10000000, 9)
... (327550, 2)
(10000000, 9)
... (291701, 2)
(10000000, 9)
... (322267, 2)
(10000000, 9)
... (328206, 2)
(10000000, 9)
... (304844, 2)
(10000000, 9)
... (289304, 2)
(10000000, 9)
... (315267, 2)
(10000000, 9)
... (327879, 2)
(10000000, 9)
... (281115, 2)
(10000000, 9)
... (296090, 2)
(10000000, 9)
... (327827, 2)
(10000000, 9)
... (327183, 2)
(10000000, 9)
... (273467, 2)
(10000000, 9)
... (296651, 2)
(10000000, 9)
... (328948, 2)
(10000000, 9)
... (313642, 2)
(10000000, 9)
... (296838, 2)
(10000000, 9)
... (317822, 2)
(10000000, 9)
... (328737, 2)
(10000000, 9)
... (298700, 2)
(10000000, 9)
... (295468, 2)
(10000000, 9)
... (327638, 2)
(10000000, 9)
... (312690, 2)
(10000000, 9)
... (288474, 2)
(10000000, 9)
... (311082, 2)
(10000000, 9)
... (327831, 2)
(10000000, 9)
... (309817, 2)
(10000000, 9)
... (288802, 2)
(10000000, 9)
... (321442, 2)
(10000000, 9)
... (327673, 2)
(10000000, 9)
... (302276, 2)
(10000000, 9)
... (314995, 2)
(10000000, 9)
... (327411, 2)
(10000000, 9)
... (312532, 2)
(10000000, 9)
... (299205, 2)
(10000000, 9)
... (300260, 2)
(10000000, 9)
... (327500, 2)
(10000000, 9)
... (311701, 2)
(10000000, 9)
... (275011, 2)
(10000000, 9)
... (1026251, 2)
(10000000, 9)
... (1047554, 2)
(502905, 9)
... (379571, 2)

In [5]:
last_user_logs_count.head(3)

                                           msno  log_count
0  +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=         43
1  +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=         58
2  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=         56

In [6]:
last_user_logs_count.to_csv('extra_features3.csv', index=False)

In [ ]:
# user_logs trend
df_iter = pd.read_csv('user_logs.csv/user_logs.csv', low_memory=False, iterator=True, chunksize=10000000)
last_user_logs_trend = []
i = 0 
for df in df_iter:
    if len(df)>0:
        print(df.shape)
        p = Pool(cpu_count())
        df = p.map(user_log_trend, np.array_split(df, cpu_count()))   
        df = pd.concat(df, axis=0, ignore_index=True).reset_index(drop=True)
        df = user_log_trend2(df)
        p.close(); p.join()
        last_user_logs_trend.append(df)
        print('...', df.shape)
        df = []
        gc.collect()

last_user_logs_trend = pd.concat(last_user_logs_trend, axis=0, ignore_index=True).reset_index(drop=True)
last_user_logs_trend = user_log_trend2(last_user_logs_trend)

In [ ]:
last_user_logs_trend.head(3)

In [ ]:
last_user_logs_trend.to_csv('extra_features2.csv', index=False)

In [4]:
# user_logs sum & mean
df_iter = pd.read_csv('user_logs.csv/user_logs.csv', low_memory=False, iterator=True, chunksize=10000000)
last_user_logs = []
i = 0 
for df in df_iter:
    if len(df)>0:
        print(df.shape)
        p = Pool(cpu_count())
        df = p.map(user_log_count, np.array_split(df, cpu_count()))   
        df = pd.concat(df, axis=0, ignore_index=True).reset_index(drop=True)
        df = user_log_count2(df)
        p.close(); p.join()
        last_user_logs.append(df)
        print('...', df.shape)
        df = []
        gc.collect()

last_user_logs = pd.concat(last_user_logs, axis=0, ignore_index=True).reset_index(drop=True)
last_user_logs = user_log_count2(last_user_logs)

(10000000, 9)
... (661542, 15)
(10000000, 9)
... (585393, 15)
(10000000, 9)
... (649722, 15)
(10000000, 9)
... (662229, 15)
(10000000, 9)
... (613887, 15)
(10000000, 9)
... (580158, 15)
(10000000, 9)
... (634413, 15)
(10000000, 9)
... (662149, 15)
(10000000, 9)
... (563477, 15)
(10000000, 9)
... (595551, 15)
(10000000, 9)
... (662440, 15)
(10000000, 9)
... (661494, 15)
(10000000, 9)
... (546180, 15)
(10000000, 9)
... (596466, 15)
(10000000, 9)
... (663025, 15)
(10000000, 9)
... (631776, 15)
(10000000, 9)
... (596415, 15)
(10000000, 9)
... (640445, 15)
(10000000, 9)
... (662538, 15)
(10000000, 9)
... (600753, 15)
(10000000, 9)
... (593493, 15)
(10000000, 9)
... (661585, 15)
(10000000, 9)
... (628885, 15)
(10000000, 9)
... (578837, 15)
(10000000, 9)
... (626743, 15)
(10000000, 9)
... (662359, 15)
(10000000, 9)
... (624582, 15)
(10000000, 9)
... (579140, 15)
(10000000, 9)
... (648529, 15)
(10000000, 9)
... (661305, 15)
(10000000, 9)
... (607222, 15)
(10000000, 9)
... (633829, 15)
(10000000, 9)
... (661516, 15)
(10000000, 9)
... (629392, 15)
(10000000, 9)
... (601651, 15)
(10000000, 9)
... (602443, 15)
(10000000, 9)
... (661340, 15)
(10000000, 9)
... (627384, 15)
(10000000, 9)
... (550949, 15)
(10000000, 9)
... (1033135, 15)
(10000000, 9)
... (1047554, 15)
(502905, 9)
... (379571, 15)

In [ ]:
last_user_logs.head(3)

In [ ]:
last_user_logs.to_csv('extra_features.csv', index=False)